@import url("https://fonts.googleapis.com/css2?family=Figtree&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
}

body {
    place-content: center;
    min-height: 100vh;
    background-color: #22222b;
}

.container {
    position: relative;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1em;
    width: 1000px;
    height: 500px;
}

.formBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.displayBox {
    position: relative;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}