@import url("https://fonts.googleapis.com/css2?family=Figtree&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Figtree", sans-serif;
}

body {
    place-content: center;
    min-height: 100vh;
    background-color: #000;
}

.container {
    display: flex;
    height: 20rem;
    gap: 1rem;
}

.container > img {
    flex: 1;
    border-radius: 1rem;
    transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
}

.container > img:hover {
    flex: 5;
}